<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="image.jpg">
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
         <div class="main-content">
             {{>header}}
        </div>
        {{>footer}}
    </body>
</html>